[user]
	name = Alexandru Nedelcu
	email = noreply@alexn.org
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP9nw7C9tP49pl/rl50oxHoZ/G6qKSOIJgHGAc6F21rg
[diff]
  tool = vimdiff
  prompt = false
[difftool]
	prompt = false
[difftool "vimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[core]
	autocrlf = input
	ignorecase = false
[init]
  defaultBranch = "main"
[pull]
	rebase = true
[push]
  autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[credential]
  helper = "osxkeychain"
